<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556652796824-33khi6dafrkmtd3tnc5n69ltikinpf0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556652796824-33khi6dafrkmtd3tnc5n69ltikinpf0o</string>
	<key>API_KEY</key>
	<string>AIzaSyD8frtqzTqwDWrsewjqYu2_lB7yGEUd52I</string>
	<key>GCM_SENDER_ID</key>
	<string>556652796824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-1-e752c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-1-e752c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556652796824:ios:bb4070d1bfc0acb640e9ed</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-test-1-e752c.firebaseio.com</string>
</dict>
</plist>